nav{
    background-color: black;
    padding: 1em;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: white;
}
main{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}